#a {
    text-align: left;
    color:rebeccapurple;
    font-size: 100px;
    background-color: darksalmon;
}
#body {
    background-color:thistle;
}
#p {
    font-size:50px;
    text-align: right;
    color: rgb(4, 4, 104);
}
#b {
    text-align: right;
    color: cadetblue;
}