.center{
    text-align: center;
    color: rgb(190, 63, 89);
}
.a{
    text-align: left;
    color: rgb(78, 12, 78);
    background-color: honeydew;
}
p.center{
    text-align: center;
    color: palevioletred;
}
p.large {
    font-size: 150%;
}