#a1 {
    text-align: center;
    color: brown;
}
#a2 {
    text-align: left;
    color:rebeccapurple;
    font-size: 100px;
    background-color: darksalmon;
}
#body {
    background-color:thistle;
}
#p3 {
    font-size:70px;
    text-align: right;
    color: blue;
}
#b {
    text-align: right;
    color: cadetblue;
}