div {
    font-size: 30px;
    color: teal;
    border: 7px solid red;
    background-color: tan;
    padding-top: 5%;
    padding-left: 7%;
    padding-bottom: 3%;
    padding-right: 7%;
    margin-top: 10%;
    margin-left: 20%;
    margin-bottom: 15%;
    margin-right: 20%;
}