div {
    font-size: 30px;
    color: teal;
    border: 7px solid red;
    background-color: tan;
    padding-top: 50px;
    padding-left: 70px;
    padding-bottom: 30px;
    padding-right: 70px;

    margin-top: 150px;
    margin-left: 200px;
    margin-bottom: 150px;
    margin-right: 200px;
}