body {
    font-family: 'Athiti', sans-serif;
    font-size: 30px;
    color: cadetblue;
    background-image: linear-gradient(#daad89,#9c5d41);
}
#a {
    text-align: center;
    color:#372920;
    font-size: 50px;
    background-color: #7f4e25;
}
p{
    text-align: left;
    border:5% solid #efe5db;
    padding-top: 3%;padding-bottom: 3%;
    padding-left: 5%;padding-right: 5%;
    margin-right: 200px;margin-left: 200px;
    color:#915858;
    background-image: linear-gradient(#efe5db,#f3b6b6);
}
.img-container {
    text-align: center;
}