body {
    font-family: 'Athiti', sans-serif;
    font-size: 23px;
    color: cadetblue;
    background-image: linear-gradient(#daad89,#9c5d41);
}
#a {
    text-align: center;
    color:#372920;
    font-size: 50px;
    border-radius: 25px;
    border: 5px solid rgb(139, 79, 79);
    background-color: tan;
    padding-top: 2%;padding-bottom: 2%;
    padding-left: 4%;padding-right: 4%;
    margin-top: 2%;margin-bottom: 2%;
    margin-left: 30%;margin-right: 30%;
}
#a1 {
    font-size: 30px;
    color:#372920;
}
#b1 {
    font-size: 25px;
    color:#9e001ad2;
}
p {
    text-align: left;
    border:5% solid #efe5db;
    padding-top: 3%;padding-bottom: 3%;
    padding-left: 5%;padding-right: 5%;
    margin-right: 200px;margin-left: 200px;
    color:#915858;
    background-image: linear-gradient(#efe5db,#E2BCB7);
}
div {
    border-radius: 25px;
    border: 7px solid rgba(247, 158, 173, 0.89);
    background-color: #E2BCB7;
    padding-top: 3%;padding-bottom: 3%;
    padding-left: 3%;padding-right: 3%;
    margin-top: 2%;margin-bottom: 2%;
    margin-left: 30%;margin-right: 30%;
}
.header {
    text-align: left;color: cornsilk;
}
.img-container {
    text-align: center;
}